* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background: url(./images/plain.jpg) center/cover no-repeat;
  max-height: 100vh;
  /* background-color: rgb(225, 163, 31); */
  font-family: sans-serif;
}
.container {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./images/plain.jpg) center/cover no-repeat;
  margin: calc((100vh - 30rem) / 2) auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 30rem;
  /* overflow: hidden; */
  /* width: 30%;
  height: 70%;
  background-color: red; */
  box-shadow: 0 5px 4px 2px black;
  border-radius: 5px;
  border: 2px solid white;
}
h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1rem 0;
  font-size: 2.5em;
  text-shadow: 0px 0px 1.5px rgb(0, 0, 0);
}
.number {
  color: rgb(56, 56, 56);
  font-size: 8rem;
  margin: 0.2em 0;
}
.container .count {
  letter-spacing: 0.5px;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.7rem;
  margin: 0.5rem;
  border-radius: 5px;
  /* background-color: rgb(48, 36, 150); */
  background-color: rgb(70, 70, 70);
  border: none;
  /* outline: none; */
  /* background-color: rgb(25, 25, 108); */
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgb(16, 16, 16);
  transition: all 0.2s ease 0s;
}
.container .count:active {
  background-color: rgb(84, 84, 84);
  color: rgb(230, 230, 230);
  transform: scale(0.97);
}

img {
  width: 2em;
  height: 2em;
  margin-top: 2.2em;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
img:active {
  transform: scale(0.97);
}

@media all and (max-width: 400px) {
  .container {
    width: 15rem;
  }
  h2 {
    font-size: 2em;
  }
}
